/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #DBEFBC;
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    background-color: #575C55;
    padding: 0 20px;
    color: white;
}

nav ul {
    flex-grow: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color:#45425A;
}


/* Hero Section */
.hero {
    position: relative;
    text-align: center;
    background-color:#F5CB5C;
    color: black;
    padding: 50px 20px;
}

.hero-content {
    margin-top: 20px;
}

.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
}

/* Adjusting button styling to prevent overlap */
.cta-button {
    padding: 15px 25px;
    background-color:#96A13A;
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 30px; /* Increased margin */
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    position: relative;
    z-index: 10;
    margin-bottom: 20px; /* Adding bottom margin */
}

.cta-button:hover {
    background-color: #ACC12F;
}


/* Form Section */
form {
    background-color: #6C7D47;
    color: aliceblue;
    padding: 30px;
    border-radius: 5px;
    max-width: 700px;
    margin: 20px auto;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background: linear-gradient(to right, #E64833, #bc8c80);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.7s ease, transform 0.4s ease;
    display: inline-flex;
    align-items: center; /* Align items vertically */
    
}

button:hover {
    color: #000000;
    transform: scale(1.1);
    background: linear-gradient(to right,  #d54530, #1b2a33);
}

/* Visualization */
canvas {
    max-width: 600px;
    margin: 20px auto;
}

/* Footer Styles */
footer {
    background-color: #575C55; /* Dark background */
    color: #ffffff; /* White text */
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

footer h2 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
}

footer p {
    margin: 5px 0;
}

/* Responsive Design for Footer */
@media (max-width: 600px) {
    footer h2 {
        font-size: 1.2em;
    }
    footer p {
        font-size: 0.9em;
    }
}
